footer {
    padding: 60px 0;
    border-top: 1px solid #000;
}
.footer {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    &__text {
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 8px;
    }
}
.policy {
    color: #000;
    text-decoration: none;
    text-underline-offset: 4px;
    transition: all .3s;
    &:hover {
        text-decoration: underline;
    }
}