@media screen and (max-width:1439px) {
    .menu {
        margin-left: 54px;
        gap: 24px;
    }
    .about {
        &__images {
            width: 50%;
        }
    }
}

@media screen and (max-width:1023px) {
    
    .promo {
        &__title {
            font-size: 36px;
        }
        &__item {
            font-size: 14px;
        }
        &__subtitle {
            max-width: 90%;
        }
    }
    .about {
        &__wrapper {
            flex-direction: column;
        }
        &__content {
            width: 100%;
            max-width: 100%;
            order: 2;
            .title {
                display: none;
               
            }
        }
        .title {
            &-mob {
                display: block;
            }
        }
        &__images {
            width: 100%;
            margin-top: 24px;
            order: 1;
            margin-bottom: 32px;
        }
        &__img {
            &3 {
                bottom: -20px;
                right: 62px
            }
        }
        
    }
}
@media screen and (max-width:767px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
    .container_pr0 {
        padding-right: 0;
    }
    .title {
        font-size: 24px;
    }
    .title2 {
        font-size: 18px;
    }
    .menu {
        position: fixed;
        flex-direction: column;
        gap: 0;
        top: 0;
        right: -100%;
        background: #fff;
        padding: 0 24px 60px;
        width: 100%;
        height: 100vh;
        transition: all .3s;
        z-index: 2;
        &_active {
            right: 0;
        }
        &__item {
            height: 48px;
            a {
                color: #000;
                font-size: 16px;
            }
        }
        .mobile {
           
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 16px;
            .header__phone {
                margin-left: 0;
            }
        }
        .logo-mob {
            display: block;
            margin-bottom: 24px;
            border-bottom: 1px solid #000;
            padding-bottom: 12px;
            // a {
            //     font-size: 24px;
            //     span {
            //         font-size: 16px;
            //     }
            // }
        }
        
    }
    .hamburger {
        display: flex;
    }
    .header {
        &__phone {
            display: none;
        }
        &__link {
            text-align: center;
            color: #000;
            text-decoration: none;
            font-size: 16px;
            
            padding: 8px;
            background-color: #ddd;
            border-radius: 8px;
            width: fit-content;
            align-self: center;

        }
    }
    .mobile {
        display: block;
        .header__phone {
            display: block;
        }
    }
    .promo {
        &__items {
            
           overflow: hidden;
           clip: rect(0, 0, 0, 0);
           opacity: 0;
            &::-webkit-scrollbar {
                height: 4px;
                
              }
            &::-webkit-scrollbar-track {
                background: transparent;
              }
            &::-webkit-scrollbar-thumb {
                background-color: #555555;
                border-radius: 3px;
              }
        }
        &__item {
            font-size: 12px;
            min-width: 150px;
        }
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__slide {
            
            &:nth-child(1) {
                .promo__title {
                    font-size: 36px;
                }
                .promo__subtitle {
                    font-size: 16px;
                }
                background-image: url(../img/promo-bg-mob.png);
            }
            &:nth-child(4) {
                background-position: right;
            }
        }
    }
    .works {
        &__slider {
            margin-top: 24px;
           .slick-list {
                padding: 0 20% 0 0;
            }
        }
        &__wrapper {
            overflow-x: scroll;
            overflow-y: hidden;

        }
        &__item {
            &__text {
                font-size: 15px;
            }
        }
        &__telegram {
            padding: 24px;
            &__text {
                font-size: 16px;
            }
            &__link {
                font-size: 20px;
            }
        }
    }
    .process {
        padding-top: 20px;
        &__wrapper {
            grid-template-columns: 1fr;
            margin-top: 24px;
        }
        &__item {
            padding: 16px;
            grid-template-columns: 1fr 4fr;
        }
        &__num {
            font-size: 32px;
        }
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .form {
        &__text {
            font-size: 20px;
        }
        &__form {
            grid-template-columns: 1fr;
        }
        &__input {
            height: 50px;
        }
        .btn {
            font-weight: 400;
            height: 50px;
        }
    }
    .price {
        padding: 56px 0 60px;
        &__wrapper {
            flex-direction: column;
            margin-top: 32px;
            padding: 24px 16px;
        }
        &__block {
            width: 100%;
            max-width: 100%;
            &:nth-child(2) {
                .price__item {
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}