.rew {
    padding: 100px 0;
    &__wrapper {
       display: flex;
       justify-content: flex-start;
        gap: 20px;
        margin-top: 48px;
        overflow-x: auto;
        overflow-y: hidden;
       
        scroll-snap-type: x mandatory;
        &::-webkit-scrollbar {
            height: 4px;
            
          }
        &::-webkit-scrollbar-track {
            background: transparent;
          }
        &::-webkit-scrollbar-thumb {
            background-color: #555555;
            border-radius: 3px;
          }
    }
    &__item {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        min-width: 230px;
        max-width: 25%;
        scroll-snap-align: start;
        margin-bottom: 8px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0, .4);
            opacity: 1;
            transition: opacity .3s;
        }
        &:hover {
            &::before {
                opacity: 0;
                
            }
        }
    }
}