.rew {
    padding: 100px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 48px;
    }
    &__item {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0, .4);
            opacity: 1;
            transition: opacity .3s;
        }
        &:hover {
            &::before {
                opacity: 0;
                
            }
        }
    }
}