* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@import '_vari.scss';
body {
    font-family: 'Inter', sans-serif;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.btn {
    border: none;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 12px 60px;
    
    border-radius: 6px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-weight: 600;
    
    &:hover {
        background-color: #262626;
        
        
    }
}
.title {
    font-size: 36px;
    line-height: normal;
    font-weight: 600;
    
}
.title2 {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;

}
.mobile {
    display: none;
}

@import '_header.scss';
@import '_promo.scss';
@import '_works.scss';
@import '_about.scss';
@import '_process.scss';
@import '_price.scss';
@import '_rew.scss';
@import '_partners.scss';
@import '_contacts.scss';


@import '_media.scss';